<div class="message-list">
	<% concat partial 'message-list-item',
		locals: {
			 messageItems: [
			 {
					 item_classes: '',
					 title: 'Lorem Ipsum',
					 body: capture_html do %>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem accusantium, est distinctio magnam tenetur similique, temporibus ducimus qui ipsam beatae quos quo, eaque doloribus aut architecto repellendus, laborum alias nihil ea dignissimos sint possimus laboro</p>
				<% end
			 },
			 {
					 item_classes: '',
					 title: 'Lorem Ipsum',
					 body: capture_html do %>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem accusantium, est distinctio magnam tenetur similique, temporibus ducimus qui ipsam beatae quos quo, eaque doloribus aut architecto repellendus, laborum alias nihil ea dignissimos sint possimus laboro</p>
				<% end
			 },
			 {
					 item_classes: 'active',
					 title: 'Lorem Ipsum',
					 body: capture_html do %>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem accusantium, est distinctio magnam tenetur similique, temporibus ducimus qui ipsam beatae quos quo, eaque doloribus aut architecto repellendus, laborum alias nihil ea dignissimos sint possimus laboro</p>
				<% end
			 },
			 {
					 item_classes: '',
					 title: 'Lorem Ipsum',
					 body: capture_html do %>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem accusantium, est distinctio magnam tenetur similique, temporibus ducimus qui ipsam beatae quos quo, eaque doloribus aut architecto repellendus, laborum alias nihil ea dignissimos sint possimus laboro</p>
				<% end
			 },
			 {
					 item_classes: '',
					 title: 'Lorem Ipsum',
					 body: capture_html do %>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem accusantium, est distinctio magnam tenetur similique, temporibus ducimus qui ipsam beatae quos quo, eaque doloribus aut architecto repellendus, laborum alias nihil ea dignissimos sint possimus laboro</p>
				<% end
			 },
			 {
					 item_classes: '',
					 title: 'Lorem Ipsum',
					 body: capture_html do %>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem accusantium, est distinctio magnam tenetur similique, temporibus ducimus qui ipsam beatae quos quo, eaque doloribus aut architecto repellendus, laborum alias nihil ea dignissimos sint possimus laboro</p>
				<% end
			 },
			 {
					 item_classes: '',
					 title: 'Lorem Ipsum',
					 body: capture_html do %>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem accusantium, est distinctio magnam tenetur similique, temporibus ducimus qui ipsam beatae quos quo, eaque doloribus aut architecto repellendus, laborum alias nihil ea dignissimos sint possimus laboro</p>
				<% end
			 },
			 {
					 item_classes: '',
					 title: 'Lorem Ipsum',
					 body: capture_html do %>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem accusantium, est distinctio magnam tenetur similique, temporibus ducimus qui ipsam beatae quos quo, eaque doloribus aut architecto repellendus, laborum alias nihil ea dignissimos sint possimus laboro</p>
				<% end
			 },
			 {
					 item_classes: '',
					 title: 'Lorem Ipsum',
					 body: capture_html do %>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem accusantium, est distinctio magnam tenetur similique, temporibus ducimus qui ipsam beatae quos quo, eaque doloribus aut architecto repellendus, laborum alias nihil ea dignissimos sint possimus laboro</p>
				<% end
			 },
			 {
					 item_classes: '',
					 title: 'Lorem Ipsum',
					 body: capture_html do %>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem accusantium, est distinctio magnam tenetur similique, temporibus ducimus qui ipsam beatae quos quo, eaque doloribus aut architecto repellendus, laborum alias nihil ea dignissimos sint possimus laboro</p>
				<% end
			 }
			 
			 ]} %>
</div>