<div class="sidebar">
	<div class="sidebar-item active">
		<span></span>
		⌘ 1
	</div><!-- sidebar item ends -->
	<div class="sidebar-item">
		<span></span>
		⌘ 2
	</div><!-- sidebar item ends -->
	<div class="sidebar-item">
		<span></span>
		⌘ 3
	</div><!-- sidebar item ends -->
	<div class="sidebar-item">
		<span></span>
		⌘ 4
	</div><!-- sidebar item ends -->
</div><!-- sidebar ends -->